<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name ="DllInfo" type ="ExeConfigDemo.DllInfo, ExeConfigDemo"/>
	</configSections>

	<appSettings>
		<add key ="DemoData" value ="I come from ExeConfigDemo.exe.Config"/>
	</appSettings>

	<DllInfo name ="DllConfigDemo"
			 type ="DllConfigDemo.ConfigFile">
	</DllInfo>
</configuration>